#include <windows.h>
#include "resource.h"

IDD_SEPARATE DIALOGEX 0, 0, 300, 82
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Separate Stems"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Model:", -1, 7, 9, 28, 8
    COMBOBOX        IDC_MODEL, 38, 7, 255, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "", IDC_DESCRIPTION, 38, 22, 255, 8
    CONTROL         "", IDC_PROGRESS, "msctls_progress32", 0, 7, 36, 286, 12
    LTEXT           "", IDC_STATUS, 7, 52, 286, 10
    DEFPUSHBUTTON   "Separate", IDC_SEPARATE, 183, 65, 55, 14
    PUSHBUTTON      "Cancel", IDC_CANCEL, 241, 65, 55, 14
END
